-- CreateTable
CREATE TABLE "providers" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "logo_url" TEXT,
    "website_url" TEXT,
    "founded_year" INTEGER,
    "country" TEXT,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "is_recommended" BOOLEAN DEFAULT false,

    CONSTRAINT "providers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "slot_categories" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "is_active" BOOLEAN DEFAULT true,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "slot_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "slots" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "provider_id" TEXT NOT NULL,
    "category_id" TEXT,
    "theme_id" TEXT,
    "description" TEXT,
    "thumbnail_url" TEXT,
    "media_type" TEXT,
    "image_url" TEXT,
    "image_focus_point" TEXT DEFAULT 'center 20%',
    "video_url" TEXT,
    "demo_url" TEXT,
    "real_play_url" TEXT,
    "screenshots" TEXT,
    "rtp" DECIMAL(65,30),
    "volatility" TEXT,
    "min_bet" DECIMAL(65,30),
    "max_bet" DECIMAL(65,30),
    "max_win" DECIMAL(65,30),
    "game_field" TEXT,
    "paylines" TEXT,
    "reels" INTEGER DEFAULT 5,
    "rows" INTEGER DEFAULT 3,
    "theme" TEXT,
    "features" TEXT,
    "release_date" TIMESTAMP(3),
    "is_mobile_compatible" BOOLEAN DEFAULT true,
    "is_demo_available" BOOLEAN DEFAULT true,
    "rating" DECIMAL(65,30) DEFAULT 0.00,
    "rating_count" INTEGER DEFAULT 0,
    "popularity_rank" INTEGER,
    "popularity_percentage" INTEGER,
    "show_awards" BOOLEAN DEFAULT false,
    "awards" JSONB,
    "play_count" INTEGER DEFAULT 0,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "bonus_frequency" TEXT,
    "hero_keyword" TEXT,
    "hero_keyword_2" TEXT,
    "hero_keyword_3" TEXT,
    "mechanics_cascade_description" TEXT,
    "mechanics_cascade_details" TEXT,
    "mechanics_cascade_title" TEXT,
    "mechanics_intro" TEXT,
    "mechanics_multipliers_description" TEXT,
    "mechanics_multipliers_details" TEXT,
    "mechanics_multipliers_important" TEXT,
    "mechanics_multipliers_important_title" TEXT,
    "mechanics_multipliers_title" TEXT,
    "mechanics_scatter_description" TEXT,
    "mechanics_scatter_details" TEXT,
    "mechanics_scatter_title" TEXT,
    "mechanics_title" TEXT,
    "mechanics_freespins_title" TEXT,
    "mechanics_freespins_description" TEXT,
    "mechanics_freespins_details" TEXT,
    "mechanics_wilds_title" TEXT,
    "mechanics_wilds_description" TEXT,
    "mechanics_wilds_details" TEXT,
    "mechanics_bonus_title" TEXT,
    "mechanics_bonus_description" TEXT,
    "mechanics_bonus_details" TEXT,
    "free_spins_title" TEXT,
    "free_spins_intro" TEXT,
    "free_spins_instant_title" TEXT,
    "free_spins_4_scatter_desc" TEXT,
    "free_spins_4_scatter" TEXT,
    "free_spins_5_scatter_desc" TEXT,
    "free_spins_5_scatter" TEXT,
    "free_spins_6_scatter_desc" TEXT,
    "free_spins_6_scatter" TEXT,
    "free_spins_features_title" TEXT,
    "free_spins_feature_1" TEXT,
    "free_spins_feature_2" TEXT,
    "free_spins_feature_3" TEXT,
    "free_spins_feature_4" TEXT,
    "free_spins_ante_title" TEXT,
    "free_spins_ante_description" TEXT,
    "free_spins_ante_bet_value" TEXT,
    "free_spins_ante_bet_effect" TEXT,
    "ante_bet_title" TEXT,
    "ante_bet_description" TEXT,
    "ante_bet_warning" TEXT,
    "faq_title" TEXT,
    "faq_q1_emoji" TEXT,
    "faq_q1_question" TEXT,
    "faq_q1_answer" TEXT,
    "faq_q2_emoji" TEXT,
    "faq_q2_question" TEXT,
    "faq_q2_answer" TEXT,
    "faq_q3_emoji" TEXT,
    "faq_q3_question" TEXT,
    "faq_q3_answer" TEXT,
    "faq_q4_emoji" TEXT,
    "faq_q4_question" TEXT,
    "faq_q4_answer" TEXT,
    "overview_description_1" TEXT,
    "overview_description_2" TEXT,
    "overview_features_1" TEXT,
    "overview_features_2" TEXT,
    "overview_features_3" TEXT,
    "overview_features_4" TEXT,
    "overview_features_5" TEXT,
    "overview_features_6" TEXT,
    "overview_features_title" TEXT,
    "overview_keyword_1" TEXT,
    "overview_keyword_2" TEXT,
    "overview_keyword_3" TEXT,
    "overview_title" TEXT,
    "popularity_fact_icon_1" TEXT,
    "popularity_fact_icon_2" TEXT,
    "popularity_fact_icon_3" TEXT,
    "popularity_fact_icon_4" TEXT,
    "popularity_fact_text_1" TEXT,
    "popularity_fact_text_2" TEXT,
    "popularity_fact_text_3" TEXT,
    "popularity_fact_text_4" TEXT,
    "popularity_facts_title" TEXT,
    "popularity_global_desc" TEXT,
    "popularity_global_rank" TEXT,
    "popularity_label_1" TEXT,
    "popularity_label_2" TEXT,
    "popularity_label_3" TEXT,
    "popularity_label_4" TEXT,
    "popularity_players_count" TEXT,
    "popularity_players_desc" TEXT,
    "popularity_rank_1" TEXT,
    "popularity_rank_2" TEXT,
    "popularity_rank_3" TEXT,
    "popularity_rank_4" TEXT,
    "popularity_rtp_desc" TEXT,
    "popularity_rtp_score" TEXT,
    "popularity_stats_title" TEXT,
    "popularity_title" TEXT,
    "popularity_title_keyword" TEXT,
    "popularity_trend_title" TEXT,
    "popularity_trend_y1" INTEGER,
    "popularity_trend_y2" INTEGER,
    "popularity_trend_y3" INTEGER,
    "popularity_trend_y4" INTEGER,
    "popularity_width_1" INTEGER,
    "popularity_width_2" INTEGER,
    "popularity_width_3" INTEGER,
    "popularity_width_4" INTEGER,
    "popularity_year_1" TEXT,
    "popularity_year_2" TEXT,
    "popularity_year_3" TEXT,
    "popularity_year_4" TEXT,
    "real_rtp" DECIMAL(65,30),
    "strategies_title" TEXT,
    "strategies_intro" TEXT,
    "strategy_beginner_title" TEXT,
    "strategy_beginner_1" TEXT,
    "strategy_beginner_2" TEXT,
    "strategy_beginner_3" TEXT,
    "strategy_beginner_4" TEXT,
    "strategy_advanced_title" TEXT,
    "strategy_advanced_1" TEXT,
    "strategy_advanced_2" TEXT,
    "strategy_advanced_3" TEXT,
    "strategy_advanced_4" TEXT,
    "strategy_warnings_title" TEXT,
    "strategy_warning_1_title" TEXT,
    "strategy_warning_1_text" TEXT,
    "strategy_warning_2_title" TEXT,
    "strategy_warning_2_text" TEXT,
    "success_secret_title" TEXT,
    "success_secret_intro" TEXT,
    "success_secret_card_1_title" TEXT,
    "success_secret_card_1_text" TEXT,
    "success_secret_card_2_title" TEXT,
    "success_secret_card_2_text" TEXT,
    "success_secret_outro" TEXT,
    "reviews_title" TEXT,
    "reviews_subtitle" TEXT,
    "reviews_overall_rating" TEXT,
    "reviews_overall_label" TEXT,
    "reviews_overall_stars" TEXT,
    "reviews_total_count" TEXT,
    "reviews_total_label" TEXT,
    "reviews_total_desc" TEXT,
    "reviews_positive_percent" TEXT,
    "reviews_positive_label" TEXT,
    "reviews_positive_desc" TEXT,
    "reviews_recommend_percent" TEXT,
    "reviews_recommend_label" TEXT,
    "reviews_recommend_desc" TEXT,
    "reviews_distribution_title" TEXT,
    "reviews_sentiments_title" TEXT,
    "reviews_featured_title" TEXT,
    "reviews_5_stars_percent" TEXT,
    "reviews_5_stars_count" TEXT,
    "reviews_4_stars_percent" TEXT,
    "reviews_4_stars_count" TEXT,
    "reviews_3_stars_percent" TEXT,
    "reviews_3_stars_count" TEXT,
    "reviews_2_stars_percent" TEXT,
    "reviews_2_stars_count" TEXT,
    "reviews_1_stars_percent" TEXT,
    "reviews_1_stars_count" TEXT,
    "reviews_sentiment_1_title" TEXT,
    "reviews_sentiment_1_desc" TEXT,
    "reviews_sentiment_2_title" TEXT,
    "reviews_sentiment_2_desc" TEXT,
    "reviews_sentiment_3_title" TEXT,
    "reviews_sentiment_3_desc" TEXT,
    "reviews_sentiment_4_title" TEXT,
    "reviews_sentiment_4_desc" TEXT,
    "review_1_author" TEXT,
    "review_1_avatar_letter" TEXT,
    "review_1_rating" TEXT,
    "review_1_badge" TEXT,
    "review_1_text" TEXT,
    "review_1_likes" TEXT,
    "review_1_replies" TEXT,
    "review_1_date" TEXT,
    "review_2_author" TEXT,
    "review_2_avatar_letter" TEXT,
    "review_2_rating" TEXT,
    "review_2_badge" TEXT,
    "review_2_text" TEXT,
    "review_2_likes" TEXT,
    "review_2_replies" TEXT,
    "review_2_date" TEXT,
    "review_3_author" TEXT,
    "review_3_avatar_letter" TEXT,
    "review_3_rating" TEXT,
    "review_3_badge" TEXT,
    "review_3_text" TEXT,
    "review_3_likes" TEXT,
    "review_3_replies" TEXT,
    "review_3_date" TEXT,
    "prof_rating_title" TEXT,
    "prof_rating_subtitle" TEXT,
    "prof_rating_overall_title" TEXT,
    "prof_rating_overall_desc" TEXT,
    "prof_rating_overall_score" TEXT,
    "prof_rating_overall_stars" TEXT,
    "prof_rating_metric_1_emoji" TEXT,
    "prof_rating_metric_1_name" TEXT,
    "prof_rating_metric_1_score" TEXT,
    "prof_rating_metric_2_emoji" TEXT,
    "prof_rating_metric_2_name" TEXT,
    "prof_rating_metric_2_score" TEXT,
    "prof_rating_metric_3_emoji" TEXT,
    "prof_rating_metric_3_name" TEXT,
    "prof_rating_metric_3_score" TEXT,
    "prof_rating_metric_4_emoji" TEXT,
    "prof_rating_metric_4_name" TEXT,
    "prof_rating_metric_4_score" TEXT,
    "prof_rating_metric_5_emoji" TEXT,
    "prof_rating_metric_5_name" TEXT,
    "prof_rating_metric_5_score" TEXT,
    "prof_rating_expert_title" TEXT,
    "prof_rating_expert_name" TEXT,
    "prof_rating_expert_position" TEXT,
    "prof_rating_expert_quote" TEXT,
    "prof_rating_expert_quote_keyword" TEXT,
    "prof_rating_warning_title" TEXT,
    "prof_rating_warning_text" TEXT,
    "prof_rating_pros_title" TEXT,
    "prof_rating_pros_1_title" TEXT,
    "prof_rating_pros_1_desc" TEXT,
    "prof_rating_pros_2_title" TEXT,
    "prof_rating_pros_2_desc" TEXT,
    "prof_rating_pros_3_title" TEXT,
    "prof_rating_pros_3_desc" TEXT,
    "prof_rating_pros_4_title" TEXT,
    "prof_rating_pros_4_desc" TEXT,
    "prof_rating_pros_5_title" TEXT,
    "prof_rating_pros_5_desc" TEXT,
    "prof_rating_cons_title" TEXT,
    "prof_rating_cons_1_title" TEXT,
    "prof_rating_cons_1_desc" TEXT,
    "prof_rating_cons_2_title" TEXT,
    "prof_rating_cons_2_desc" TEXT,
    "prof_rating_cons_3_title" TEXT,
    "prof_rating_cons_3_desc" TEXT,
    "prof_rating_cons_4_title" TEXT,
    "prof_rating_cons_4_desc" TEXT,
    "prof_rating_cons_5_title" TEXT,
    "prof_rating_cons_5_desc" TEXT,
    "prof_rating_recommendation_title" TEXT,
    "prof_rating_recommendation_subtitle" TEXT,
    "prof_rating_recommendation_text" TEXT,
    "prof_rating_recommendation_keyword" TEXT,
    "conclusion_title" TEXT,
    "conclusion_rating_title" TEXT,
    "conclusion_rating_keyword" TEXT,
    "conclusion_text_1" TEXT,
    "conclusion_text_1_keyword" TEXT,
    "conclusion_text_2" TEXT,
    "conclusion_suitable_title" TEXT,
    "conclusion_suitable_1" TEXT,
    "conclusion_suitable_2" TEXT,
    "conclusion_suitable_3" TEXT,
    "conclusion_suitable_4" TEXT,
    "conclusion_warning_title" TEXT,
    "conclusion_warning_1" TEXT,
    "conclusion_warning_2" TEXT,
    "conclusion_warning_3" TEXT,
    "conclusion_warning_4" TEXT,
    "conclusion_verdict_title" TEXT,
    "conclusion_verdict_text" TEXT,
    "conclusion_verdict_keyword" TEXT,
    "cta_title" TEXT,
    "cta_subtitle" TEXT,
    "cta_subtitle_keyword" TEXT,
    "cta_potential" TEXT,
    "cta_potential_prefix" TEXT,
    "cta_potential_suffix" TEXT,
    "cta_feature_1_emoji" TEXT,
    "cta_feature_1_title" TEXT,
    "cta_feature_1_desc" TEXT,
    "cta_feature_2_emoji" TEXT,
    "cta_feature_2_title" TEXT,
    "cta_feature_2_desc" TEXT,
    "cta_feature_3_emoji" TEXT,
    "cta_feature_3_title" TEXT,
    "cta_feature_3_desc" TEXT,
    "cta_button_demo_emoji" TEXT,
    "cta_button_demo_text" TEXT,
    "cta_button_demo_url" TEXT,
    "cta_button_real_emoji" TEXT,
    "cta_button_real_text" TEXT,
    "cta_button_real_url" TEXT,
    "cta_trust_1_text" TEXT,
    "cta_trust_2_text" TEXT,
    "cta_trust_3_text" TEXT,
    "info_expert_verdict" TEXT,
    "info_pros" TEXT,
    "info_cons" TEXT,
    "info_faq" TEXT,
    "info_reviews" TEXT,
    "info_how_to_play" TEXT,
    "info_demo_cta" TEXT,
    "geo_regions" TEXT,
    "localizations" JSONB,
    "jsonld_enabled" BOOLEAN NOT NULL DEFAULT true,
    "jsonld_type" TEXT DEFAULT 'Game',
    "jsonld_game_genre" TEXT,
    "jsonld_game_platform" TEXT DEFAULT 'Web Browser, Mobile, Desktop',
    "jsonld_content_rating" TEXT DEFAULT '18+',
    "jsonld_is_free" BOOLEAN NOT NULL DEFAULT true,
    "jsonld_enable_product" BOOLEAN NOT NULL DEFAULT false,
    "jsonld_enable_review" BOOLEAN NOT NULL DEFAULT true,
    "jsonld_enable_faq" BOOLEAN NOT NULL DEFAULT false,
    "jsonld_enable_howto" BOOLEAN NOT NULL DEFAULT false,
    "jsonld_enable_breadcrumb" BOOLEAN NOT NULL DEFAULT true,
    "jsonld_enable_video" BOOLEAN NOT NULL DEFAULT false,
    "jsonld_product_price" DOUBLE PRECISION,
    "jsonld_product_currency" TEXT DEFAULT 'USD',
    "jsonld_product_availability" TEXT DEFAULT 'InStock',
    "jsonld_product_condition" TEXT DEFAULT 'NewCondition',
    "jsonld_review_author" TEXT DEFAULT 'SlotQuest Editorial Team',
    "jsonld_review_date" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "jsonld_review_text" TEXT,
    "jsonld_review_rating" DOUBLE PRECISION,
    "jsonld_faq_json" TEXT,
    "jsonld_howto_json" TEXT,
    "jsonld_video_url" TEXT,
    "jsonld_video_thumbnail" TEXT,
    "jsonld_video_duration" TEXT,
    "jsonld_video_upload_date" TIMESTAMP(3),
    "jsonld_video_description" TEXT,
    "jsonld_custom" TEXT,
    "jsonld_override_auto" BOOLEAN NOT NULL DEFAULT false,
    "jsonld_last_validated" TIMESTAMP(3),
    "jsonld_validation_errors" TEXT,
    "jsonld_rich_snippet_enabled" BOOLEAN NOT NULL DEFAULT true,
    "seo_title" TEXT,
    "seo_description" TEXT,
    "seo_keywords_primary" TEXT,
    "seo_keywords_lsi" TEXT,
    "seo_keywords_geo" TEXT,
    "content_language" TEXT DEFAULT 'en',
    "geo_target_regions" TEXT,
    "seo_title_template" TEXT,
    "seo_title_power_words" TEXT,
    "search_intent" TEXT DEFAULT 'transactional',
    "canonical_url" TEXT,
    "og_title" TEXT,
    "og_description" TEXT,
    "og_image" TEXT,
    "og_type" TEXT DEFAULT 'article',
    "og_url" TEXT,
    "og_site_name" TEXT DEFAULT 'SlotQuest',
    "og_locale" TEXT DEFAULT 'en_US',
    "og_locale_alternate" TEXT,
    "og_video" TEXT,
    "og_video_type" TEXT,
    "og_video_width" INTEGER,
    "og_video_height" INTEGER,
    "og_image_width" INTEGER DEFAULT 1200,
    "og_image_height" INTEGER DEFAULT 630,
    "og_image_alt" TEXT,
    "twitter_card" TEXT DEFAULT 'summary_large_image',
    "twitter_site" TEXT DEFAULT '@SlotQuest',
    "twitter_creator" TEXT DEFAULT '@SlotQuest',
    "twitter_title" TEXT,
    "twitter_description" TEXT,
    "twitter_image" TEXT,
    "twitter_image_alt" TEXT,
    "twitter_player" TEXT,
    "twitter_player_width" INTEGER,
    "twitter_player_height" INTEGER,
    "robots_index" BOOLEAN NOT NULL DEFAULT true,
    "robots_follow" BOOLEAN NOT NULL DEFAULT true,
    "robots_max_snippet" INTEGER DEFAULT -1,
    "robots_max_image_preview" TEXT DEFAULT 'large',
    "robots_max_video_preview" INTEGER DEFAULT -1,
    "robots_notranslate" BOOLEAN NOT NULL DEFAULT false,
    "robots_noimageindex" BOOLEAN NOT NULL DEFAULT false,
    "robots_unavailable_after" TIMESTAMP(3),
    "hreflang_enabled" BOOLEAN NOT NULL DEFAULT true,
    "hreflang_x_default" TEXT,
    "hreflang_config" TEXT,
    "hreflang_preset" TEXT DEFAULT 'international',
    "author_meta" TEXT DEFAULT 'SlotQuest Team',
    "publisher_meta" TEXT DEFAULT 'SlotQuest',
    "copyright_meta" TEXT,
    "last_reviewed_date" TIMESTAMP(3),
    "content_updated_at" TIMESTAMP(3),
    "preconnect_urls" TEXT,
    "preload_image" BOOLEAN NOT NULL DEFAULT true,
    "dns_prefetch_urls" TEXT,
    "seo_title_use_template" BOOLEAN NOT NULL DEFAULT false,
    "eeat_experience_date" TIMESTAMP(3),
    "eeat_experience_hours" INTEGER,
    "eeat_experience_sessions" INTEGER,
    "eeat_experience_screenshots" TEXT,
    "eeat_author_name" TEXT DEFAULT 'SlotQuest Editorial Team',
    "eeat_author_position" TEXT,
    "eeat_author_bio" TEXT,
    "eeat_author_avatar" TEXT,
    "eeat_author_social" TEXT,
    "eeat_expertise_years" INTEGER DEFAULT 5,
    "eeat_reviews_count" INTEGER,
    "eeat_certifications" TEXT,
    "eeat_partnerships" TEXT,
    "eeat_citations_count" INTEGER DEFAULT 0,
    "eeat_awards" TEXT,
    "eeat_featured_in" TEXT,
    "eeat_data_sources" TEXT,
    "eeat_fact_checked" BOOLEAN NOT NULL DEFAULT true,
    "eeat_fact_check_date" TIMESTAMP(3),
    "eeat_methodology" TEXT,
    "eeat_disclaimer" TEXT DEFAULT '18+ | Gambling can be addictive | Play responsibly',
    "eeat_license_info" TEXT,
    "content_published_date" TIMESTAMP(3),
    "content_major_update" TIMESTAMP(3),
    "content_minor_update" TIMESTAMP(3),
    "content_reviewed_date" TIMESTAMP(3),
    "content_version" TEXT DEFAULT '1.0',
    "content_changelog" TEXT,
    "content_update_frequency" TEXT DEFAULT 'monthly',
    "content_next_review" TIMESTAMP(3),
    "content_freshness_score" INTEGER DEFAULT 100,
    "social_share_count" INTEGER DEFAULT 0,
    "social_facebook_shares" INTEGER DEFAULT 0,
    "social_twitter_shares" INTEGER DEFAULT 0,
    "social_pinterest_shares" INTEGER DEFAULT 0,
    "social_custom_hashtags" TEXT,
    "social_cta_text" TEXT,
    "cta_primary_text" TEXT DEFAULT 'Play Now',
    "cta_primary_url" TEXT,
    "cta_secondary_text" TEXT DEFAULT 'Try Demo',
    "cta_secondary_url" TEXT,
    "cta_urgency_text" TEXT,
    "cta_social_proof" TEXT,
    "keyword_primary_target" DOUBLE PRECISION DEFAULT 1.5,
    "keyword_density_score" INTEGER DEFAULT 0,
    "keyword_analysis_date" TIMESTAMP(3),
    "keyword_analysis_result" TEXT,
    "keyword_suggestions" TEXT,
    "keyword_competitors" TEXT,
    "indexing_status" TEXT DEFAULT 'unknown',
    "indexing_first_date" TIMESTAMP(3),
    "indexing_last_crawl" TIMESTAMP(3),
    "indexing_crawl_frequency" TEXT DEFAULT 'weekly',
    "indexing_impressions" INTEGER DEFAULT 0,
    "indexing_clicks" INTEGER DEFAULT 0,
    "indexing_position" DOUBLE PRECISION,
    "indexing_internal_links" INTEGER DEFAULT 0,
    "indexing_external_links" INTEGER DEFAULT 0,
    "indexing_last_check" TIMESTAMP(3),
    "indexing_errors" TEXT,
    "cwv_lcp" DOUBLE PRECISION,
    "cwv_fid" DOUBLE PRECISION,
    "cwv_cls" DOUBLE PRECISION,
    "cwv_ttfb" DOUBLE PRECISION,
    "cwv_fcp" DOUBLE PRECISION,
    "cwv_inp" DOUBLE PRECISION,
    "cwv_score_mobile" INTEGER DEFAULT 0,
    "cwv_score_desktop" INTEGER DEFAULT 0,
    "cwv_last_check" TIMESTAMP(3),
    "cwv_issues" TEXT,
    "cwv_opportunities" TEXT,
    "sitemap_include" BOOLEAN NOT NULL DEFAULT true,
    "sitemap_priority" DOUBLE PRECISION DEFAULT 0.8,
    "sitemap_frequency" TEXT DEFAULT 'weekly',
    "sitemap_last_mod" TIMESTAMP(3),
    "sitemap_images" TEXT,
    "sitemap_videos" TEXT,
    "sitemap_news" BOOLEAN NOT NULL DEFAULT false,
    "seo_health_score" INTEGER DEFAULT 0,
    "seo_health_issues" TEXT,
    "seo_health_warnings" TEXT,
    "seo_health_passed" TEXT,
    "seo_health_last_audit" TIMESTAMP(3),
    "seo_health_trend" TEXT,
    "competitor_urls" TEXT,
    "competitor_positions" TEXT,
    "competitor_last_check" TIMESTAMP(3),

    CONSTRAINT "slots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "slot_themes" (
    "id" TEXT NOT NULL,
    "slot_id" TEXT NOT NULL,
    "theme_id" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "slot_themes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "features" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "type" TEXT,
    "icon" TEXT,
    "color" TEXT DEFAULT '#8b5cf6',
    "image_url" TEXT,
    "sort_order" INTEGER DEFAULT 0,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "is_popular" BOOLEAN NOT NULL DEFAULT false,
    "is_featured" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "features_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "slot_features" (
    "id" SERIAL NOT NULL,
    "slot_id" TEXT NOT NULL,
    "feature_id" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "slot_features_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "themes" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "color" TEXT,
    "icon" TEXT,
    "is_featured" BOOLEAN NOT NULL DEFAULT false,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "themes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bonuses" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "type" TEXT,
    "icon" TEXT,
    "color" TEXT DEFAULT '#8b5cf6',
    "image_url" TEXT,
    "sort_order" INTEGER DEFAULT 0,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "is_popular" BOOLEAN NOT NULL DEFAULT false,
    "is_featured" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "bonuses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "slot_bonuses" (
    "id" SERIAL NOT NULL,
    "slot_id" TEXT NOT NULL,
    "bonus_id" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "slot_bonuses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mechanics" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "type" TEXT,
    "icon" TEXT,
    "color" TEXT DEFAULT '#8b5cf6',
    "image_url" TEXT,
    "sort_order" INTEGER DEFAULT 0,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "is_popular" BOOLEAN NOT NULL DEFAULT false,
    "is_featured" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "mechanics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "slot_mechanics" (
    "id" SERIAL NOT NULL,
    "slot_id" TEXT NOT NULL,
    "mechanic_id" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "slot_mechanics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pages" (
    "slug" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "hero_title" TEXT,
    "hero_desc" TEXT,
    "seo_title" TEXT,
    "seo_desc" TEXT,
    "seo_keywords" TEXT,
    "seo_canonical_url" TEXT,
    "seo_robots" TEXT,
    "hero_keyword_1" TEXT,
    "hero_keyword_2" TEXT,
    "hero_keyword_3" TEXT,
    "seo_keywords_primary" TEXT,
    "seo_keywords_lsi" TEXT,
    "seo_keywords_longtail" TEXT,
    "seo_keywords_geo" TEXT,
    "seo_keywords_list" TEXT,
    "robots_index" BOOLEAN DEFAULT true,
    "robots_follow" BOOLEAN DEFAULT true,
    "robots_max_snippet" INTEGER DEFAULT -1,
    "robots_max_image_preview" TEXT DEFAULT 'large',
    "robots_max_video_preview" INTEGER DEFAULT -1,
    "robots_notranslate" BOOLEAN DEFAULT false,
    "robots_noimageindex" BOOLEAN DEFAULT false,
    "hreflang_enabled" BOOLEAN DEFAULT false,
    "hreflang_config" TEXT,
    "geo_target_enabled" BOOLEAN DEFAULT false,
    "geo_target_regions" TEXT,
    "jsonld_enabled" BOOLEAN DEFAULT true,
    "jsonld_type" TEXT DEFAULT 'CollectionPage',
    "jsonld_enable_faq" BOOLEAN DEFAULT false,
    "jsonld_faq_json" TEXT,
    "jsonld_enable_review" BOOLEAN DEFAULT false,
    "jsonld_review_author" TEXT,
    "jsonld_review_rating" DECIMAL(65,30),
    "jsonld_review_text" TEXT,
    "jsonld_enable_how_to" BOOLEAN DEFAULT false,
    "jsonld_how_to_json" TEXT,
    "jsonld_enable_breadcrumb" BOOLEAN DEFAULT true,
    "jsonld_override_auto" BOOLEAN DEFAULT false,
    "info_pros" TEXT,
    "info_cons" TEXT,
    "og_title" TEXT,
    "og_desc" TEXT,
    "og_image" TEXT,
    "twitter_card" TEXT,
    "json_schema" TEXT,
    "fast_filters" TEXT,
    "content" TEXT,
    "show_awards" BOOLEAN DEFAULT false,
    "awards" TEXT,
    "footer_company_name" TEXT DEFAULT 'SlotQuest Inc.',
    "footer_description" TEXT DEFAULT 'The ultimate catalog for slot enthusiasts. Explore thousands of games, analyze mechanics, and find your next favorite slot with our advanced data-driven platform.',
    "footer_facebook" TEXT DEFAULT 'https://facebook.com/slotquest',
    "footer_twitter" TEXT DEFAULT 'https://twitter.com/slotquest',
    "footer_instagram" TEXT DEFAULT 'https://instagram.com/slotquest',
    "footer_telegram" TEXT DEFAULT 'https://t.me/slotquest',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "pages_pkey" PRIMARY KEY ("slug")
);

-- CreateIndex
CREATE UNIQUE INDEX "providers_name_key" ON "providers"("name");

-- CreateIndex
CREATE UNIQUE INDEX "providers_slug_key" ON "providers"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "slot_categories_name_key" ON "slot_categories"("name");

-- CreateIndex
CREATE UNIQUE INDEX "slot_categories_slug_key" ON "slot_categories"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "slots_slug_key" ON "slots"("slug");

-- CreateIndex
CREATE INDEX "idx_slots_provider_id" ON "slots"("provider_id");

-- CreateIndex
CREATE INDEX "idx_slots_category_id" ON "slots"("category_id");

-- CreateIndex
CREATE INDEX "idx_slots_theme_id" ON "slots"("theme_id");

-- CreateIndex
CREATE INDEX "idx_slots_is_active" ON "slots"("is_active");

-- CreateIndex
CREATE INDEX "idx_slots_rating" ON "slots"("rating" DESC);

-- CreateIndex
CREATE INDEX "idx_slot_themes_slot_id" ON "slot_themes"("slot_id");

-- CreateIndex
CREATE INDEX "idx_slot_themes_theme_id" ON "slot_themes"("theme_id");

-- CreateIndex
CREATE UNIQUE INDEX "slot_themes_slot_id_theme_id_key" ON "slot_themes"("slot_id", "theme_id");

-- CreateIndex
CREATE UNIQUE INDEX "features_slug_key" ON "features"("slug");

-- CreateIndex
CREATE INDEX "idx_features_type" ON "features"("type");

-- CreateIndex
CREATE INDEX "idx_features_is_active" ON "features"("is_active");

-- CreateIndex
CREATE INDEX "idx_features_is_popular" ON "features"("is_popular");

-- CreateIndex
CREATE INDEX "idx_features_sort_order" ON "features"("sort_order");

-- CreateIndex
CREATE INDEX "idx_slot_features_slot_id" ON "slot_features"("slot_id");

-- CreateIndex
CREATE INDEX "idx_slot_features_feature_id" ON "slot_features"("feature_id");

-- CreateIndex
CREATE UNIQUE INDEX "slot_features_slot_id_feature_id_key" ON "slot_features"("slot_id", "feature_id");

-- CreateIndex
CREATE UNIQUE INDEX "themes_name_key" ON "themes"("name");

-- CreateIndex
CREATE UNIQUE INDEX "themes_slug_key" ON "themes"("slug");

-- CreateIndex
CREATE INDEX "themes_is_active_idx" ON "themes"("is_active");

-- CreateIndex
CREATE INDEX "themes_is_featured_idx" ON "themes"("is_featured");

-- CreateIndex
CREATE INDEX "themes_slug_idx" ON "themes"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "bonuses_name_key" ON "bonuses"("name");

-- CreateIndex
CREATE UNIQUE INDEX "bonuses_slug_key" ON "bonuses"("slug");

-- CreateIndex
CREATE INDEX "idx_bonuses_type" ON "bonuses"("type");

-- CreateIndex
CREATE INDEX "idx_bonuses_is_active" ON "bonuses"("is_active");

-- CreateIndex
CREATE INDEX "idx_bonuses_is_popular" ON "bonuses"("is_popular");

-- CreateIndex
CREATE INDEX "idx_bonuses_sort_order" ON "bonuses"("sort_order");

-- CreateIndex
CREATE INDEX "idx_slot_bonuses_slot_id" ON "slot_bonuses"("slot_id");

-- CreateIndex
CREATE INDEX "idx_slot_bonuses_bonus_id" ON "slot_bonuses"("bonus_id");

-- CreateIndex
CREATE UNIQUE INDEX "slot_bonuses_slot_id_bonus_id_key" ON "slot_bonuses"("slot_id", "bonus_id");

-- CreateIndex
CREATE UNIQUE INDEX "mechanics_name_key" ON "mechanics"("name");

-- CreateIndex
CREATE UNIQUE INDEX "mechanics_slug_key" ON "mechanics"("slug");

-- CreateIndex
CREATE INDEX "idx_mechanics_type" ON "mechanics"("type");

-- CreateIndex
CREATE INDEX "idx_mechanics_is_active" ON "mechanics"("is_active");

-- CreateIndex
CREATE INDEX "idx_mechanics_is_popular" ON "mechanics"("is_popular");

-- CreateIndex
CREATE INDEX "idx_mechanics_sort_order" ON "mechanics"("sort_order");

-- CreateIndex
CREATE INDEX "idx_slot_mechanics_slot_id" ON "slot_mechanics"("slot_id");

-- CreateIndex
CREATE INDEX "idx_slot_mechanics_mechanic_id" ON "slot_mechanics"("mechanic_id");

-- CreateIndex
CREATE UNIQUE INDEX "slot_mechanics_slot_id_mechanic_id_key" ON "slot_mechanics"("slot_id", "mechanic_id");

-- AddForeignKey
ALTER TABLE "slots" ADD CONSTRAINT "slots_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "slot_categories"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "slots" ADD CONSTRAINT "slots_provider_id_fkey" FOREIGN KEY ("provider_id") REFERENCES "providers"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "slots" ADD CONSTRAINT "slots_theme_id_fkey" FOREIGN KEY ("theme_id") REFERENCES "themes"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "slot_themes" ADD CONSTRAINT "slot_themes_slot_id_fkey" FOREIGN KEY ("slot_id") REFERENCES "slots"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "slot_themes" ADD CONSTRAINT "slot_themes_theme_id_fkey" FOREIGN KEY ("theme_id") REFERENCES "themes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "slot_features" ADD CONSTRAINT "slot_features_feature_id_fkey" FOREIGN KEY ("feature_id") REFERENCES "features"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "slot_features" ADD CONSTRAINT "slot_features_slot_id_fkey" FOREIGN KEY ("slot_id") REFERENCES "slots"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "slot_bonuses" ADD CONSTRAINT "slot_bonuses_bonus_id_fkey" FOREIGN KEY ("bonus_id") REFERENCES "bonuses"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "slot_bonuses" ADD CONSTRAINT "slot_bonuses_slot_id_fkey" FOREIGN KEY ("slot_id") REFERENCES "slots"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "slot_mechanics" ADD CONSTRAINT "slot_mechanics_mechanic_id_fkey" FOREIGN KEY ("mechanic_id") REFERENCES "mechanics"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "slot_mechanics" ADD CONSTRAINT "slot_mechanics_slot_id_fkey" FOREIGN KEY ("slot_id") REFERENCES "slots"("id") ON DELETE CASCADE ON UPDATE CASCADE;

